<% if (locals.products) { %>
    <div class="product-wrapper">
        <% locals.products.forEach((element, index) => { %>
            <% const flexDirectionClass = index % 2 === 0 ? "even" : "odd"; %>
            <div class="card <%= flexDirectionClass %>">
                <div class="image-wrapper">
                    <img class="icon" src="<%= element.img %>" alt="">
                </div>
                <div class="text-wrapper <%= flexDirectionClass %>">
                    <h3 class="product-title <%= flexDirectionClass %>"><%= element.name %></h3>
                    <p class="description <%= flexDirectionClass %>"><%= element.descriptionShort %></p>
                    <span class="price <%= flexDirectionClass %>"><%= element.price %></span>
                </div>
            </div>
            <% }); %>
        </div>
    <% } else { %>
        <%- console.log("No products") %>
    <% } %>
